body {
	font-family:"Droid Sans",sans-serif;
	background-color:#fff
}

input {
	font-family:"Droid Sans",sans-serif
}

a img {
	border:none
}

h1 img {
	vertical-align: top;
}

.container {
	margin: 0;
	width: 410px;
}

p.description {
	color:#444;
	font-size:80%
}

.hero-unit {
	padding: 10px 20px;
	margin: 0;
	background: transparent;
}

.error {
	color:red;
	outline:1px solid red
}

#default {
	display:none!important
}

#input input[name='artist'] {
	width:20em
}

#suggestions .artist-name {
	margin: 0 5px 5px 0;
}

#suggestions {
	margin-bottom: 20px;
}

#suggestions, #generate-button, #reset-button {
	display: none;
}

.remove-artist {
	margin-right: 10px;
}

.artist {
	margin: 5px 0;
}

.has-playlist #suggestions {
	display: block;
}

.has-artists #generate-button,
.has-artists #reset-button {
	display: inline-block;
}
