body {
	font-family:"Droid Sans", sans-serif;
	display: flex;
	flex-flow: row wrap;
}

section {
        padding: 0 10px;
}

#start, #suggestions {
	flex: 1;
}

#playlist {
	width: 480px;
}

a img {
	border:none
}

h1 img {
	vertical-align: middle;
}

h1 a {
	margin-right: 0.5em;
}

p.description {
	color:#444;
}

.btn.btn-icon .glyphicon {
	margin-right: 0;
}

.error {
	color:red;
	outline:1px solid red
}

#default {
	display:none!important
}

#suggestions .artist-name {
	margin: 0 5px 5px 0;
}

#suggestions {
	margin: 40px 0 20px;
}

#suggestions, #generate-button, #reset-button {
	display: none;
}

.remove-artist {
	margin-right: 10px;
}

#artists {
	margin-bottom: 10px;
}

.has-playlist #suggestions {
	display: block;
}

.has-artists #generate-button,
.has-artists #reset-button {
	display: inline-block;
}
